header {
  padding: 2%;
  grid-area: hd;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #f6d186;
}

header > h1 {
  font-family: "Roboto", sans-serif;
  color: #9c7526;
  font-size: 3rem;
  font-stretch: expanded;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Merriweather', serif; */
