.photos {
  margin-right: 40px;
  padding: 5px 10px 5px 10px;
}

.images {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-gap: 15px;
}

.img-1 {
  width: 150px;
  grid-area: 1/1/1/1;
}

.img-2 {
  width: 150px;
  grid-area: 1/2/1/2;
}

.img-3 {
  width: 150px;
  grid-area: 2/1/2/1;
}

.img-4 {
  width: 150px;
  grid-area: 2/2/2/2;
}
